@media only screen and (min-width: 750px){

 /*nav  bar*/
.logo{
	width:30%;
font-size:2rem;
}

.btn-box{
	width:60%;
}
.btn-box>.btn{
	font-size:1rem;
}

			/* hero section */
.hero-main-cont{
	justify-content: space-evenly;
	flex-flow:row;
}
.sun1{
	position: absolute;
right:85%;
}

.bg-ani-img{
width:250px;
height:250px;
}

.heading-box{
	padding:80px 30px;	
text-align:left;
}

.mn-heading{
	padding:0px 0px;
	color:var(--p-d-clr);
	font-family: Inria Serif;
	font-size: 4rem;
}
.desc-heading{
	font-size: 1.5rem;
}

/* hero image section  */
.hr-image-section{
	padding:100px 0px;
}	

.big-img{
	width:350px;
	height:350px;
}
.pre-heading-eft{
	left:10px;
left:-30px;
animation:rbigimgani 10s ease-in-out infinite;
}
@keyframes rbigimgani{
0%{transform: translateX(150px) rotate(-90deg);}
25%{transform: translateX(40px) rotate(-90deg);}
50%{transform: translateX(150px) rotate(-90deg);}
75%{transform: translateX(150px) rotate(-90deg);}
100%{transform: translateX(150px) rotate(-90deg);}
}

			/* category selection */
#faultline{
margin-bottom:80px;
}	
.cata-selection{
	width:50%;
}
.cata-btn{
font-size: 1rem;
padding:2% 3%;
}

		/* branding section */
.branding-cont > .logos{
width:60px;
height:60px;
}

			/* offer section */
.offer-cont{
	margin-top:140px;
	border-bottom:8px solid var(--b-clr);
}

.block{
	width:350px;
height:420px;
}
.offer-box{
	z-index: 1;
	position: relative;
	right:50px;
	width: 100px;
	height: 100px;
		font-size: 1.2rem;
}
.ofr-imgs{
width:100%;
height:180px;
}
.ofr-lg-img{
	width:320px;
	height:450px;
}

/* footer section */
.ft{
	justify-content: space-around;
	gap:30px;
	margin-top:80px;
}

.ft-abou-heading{
	font-size:1.8rem;
}
.ft-abou-desc{
		width:360px;
	font-size: 0.9rem;
}

		/* link section */
.ft-cata-lnk-main-cont{
	gap:60px;
	font-family:Imprima;
}

/*contact link*/
.st-social-lnk{
	gap:8px;
}
.ft-hd-lnk{
	font-size:1.2rem;
	color:var(--ft-lnk-hd-clr);
}
.ft-social-lnk{
	font-size: 1rem;
}



}